# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = etherscan.settings

[deploy:demo] # demo是指这个deploy的名称，自己命名，可以多个。
url = http://localhost:6800/
project = etherscan # 工程的名称
